
   @charset"UTF-8";
    body{margin: 0; padding: 0;}
    ul,li,ol{list-style:none; margin:0;padding:0;}
    @font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    

    header{width:1100px; height:130px; margin:0 auto; background-color:white;}
    #logo{float:left; width:170px; height:45px;background-color:white; margin: 30px 460px;}
    nav{font-weight:bold;   float:right; width:500px; height:30px; background-color: white; margin: -15px 310px;}
        nav ul { font-size: 17px;font-family: 'GowunBatang-Regular';}
        nav ul li {float: left; padding: 3px 5px;}
        nav ul li a {text-decoration: none; color:#333;}
        nav ul a:hover {color:peachpuff;}

        footer{width:1100px; height:250px; margin:0 auto; background-color:white;}

        #bottom{float:left; width:500px; height:30px; background-color: white; margin:0 auto;}
        #bottom ul {font-weight:bold; font-size: 17px;font-family: 'GowunBatang-Regular';}
        #bottom ul li {float: left; padding: 3px 5px;}
        #bottom ul li a {text-decoration: none; color:#333;}
        #bottom ul a:hover {color:peachpuff;}

        
        
        
        .csinfo{padding:10px; float:left; margin:-100px 0px 20px 10px; text-align:left; font-size: 12px;font-family: 'GowunBatang-Regular';}
        #bot{color:black;}

        #right{margin:20px 0px 20px 0px;text-align:right;font-weight:bold; font-size: 13px;font-family: 'GowunBatang-Regular';}

    
